body {
    background-color: #b1a0a0;
    color: #52a89e;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

.container {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

input {
    background-color: #888;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    width: calc(100% - 22px); 
}

button {
    background-color: #52a89e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3f8579;
}

ul#guesses {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

ul#guesses li {
    background-color: #555;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    color: #a79898;
}

.tabs {
    margin-bottom: 20px;
}

.tab-link {
    background-color: #e68787;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 5px;
}

.tab-link:hover {
    background-color: #ccc;
}

.tab-link.active {
    background-color: #7d5050;
}

.tab-content {
    display: none;
    padding: 20px;
    background-color: #4e7d30;
    border: 1px solid #6e4646;
    margin-top: 10px;
}

.tab-content.active {
    display: block;
}

#reset-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #f0ad4e;
    border: none;
    cursor: pointer;
}
